<% layout('/layouts/boilerplate') -%>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto text-center flex-column">
        <main class="px-3 mt-3">
            <h1>Covid Vacination</h1>
            <p class="lead"> !i!i!i!i!i!i!i!i!i!i Welcome to Covid Vacination !i!i!i!i!i!i!i!i!i!i <br> This is small
                project. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione a beatae, officia id
                pariatur odit ipsa omnis provident fugit! Iste ipsa nulla suscipit, culpa, eveniet cum maiores,
                repudiandae iusto veritatis deleniti magni? </p>
            <a href="/stats/index" class="m-3 btn btn-lg btn-secondary font-weight-bold text-white"> View Stats </a>
            <a href="/user/index" class="m-3 btn btn-lg btn-secondary font-weight-bold text-white"> View User Data </a>
        </main>
    </div>