<% layout('/layouts/boilerplate') -%>
    <div class="container m-4 pb-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <% for (const [key, value] of Object.entries(dta)) { %>
                <div class="col col-md-4 <%= key == 'lastupdated' ? " d-none" : '' %>">
                    <div class="card bg-dark rounded">
                        <div class="card-body bg-dark">
                            <h5 class="card-title">
                                <%= key=='Total' ? "India" : key %> :
                            </h5>
                            <p class="card-text">Get a graphical representation</p>
                            <a href="/stats/<%=key%>" class="btn btn-info">Go -></a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>